/* stylelint-disable scale-unlimited/declaration-strict-value */
.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: lightslategray;
}

.app {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 800px;
  padding-top: 40px;
  background-color: transparent;
  border-radius: 60px;
  transition: 300ms background-color;

  .title {
    padding-left: 40px;
    margin: 0 0 1rem;
    font-size: 1.5rem;
    color: #fafbfe;
  }
}

.scrollArea {
  height: 572px;
  padding: 40px;
  overflow-y: scroll;
  background-color: #fafbfe;
  border-radius: 20px;

  &::-webkit-scrollbar {
    width: 0;
  }
}
